html, body {
  height: 100%;
}

a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

header {
  background-image: url("images/bg.jpg");
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

header a {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#about_me {
  background-color: inherit !important;
}

.section-title {
  padding: 20px;
}

.project {
  margin-top: 24px;
}

.project img {
  max-width: 100%;
}

.project .caption {
  padding: 20px;
  background: #eaeaea;
}

hr {
  margin-right: 40px;
  margin-left: 40px;
}

footer a {
  margin: 0 10px 20px 10px;
  color: black;
}
