<div id="td-sidebar-menu" class="td-sidebar__inner">  
    <form class="td-sidebar__search d-flex align-items-center">
        <input type="search" class="form-control td-search-input" placeholder="&#xf002 Search this site…" aria-label="Search this site…" autocomplete="off">
        <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
        </button>
    </form>  
    <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
        {% for collection in site.collections %}
            {% unless collection.label == "posts" %}
                <ul class="td-sidebar-nav__section pr-md-3">
                    <li class="td-sidebar-nav__section-title">
                        <a  href="/{{ collection.label }}" class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">
                            {{ collection.label | capitalize }}
                        </a>
                    </li>
                    <ul>
                        <li class="collapse show" id="{{ collection.label }}">
                            <ul class="td-sidebar-nav__section pr-md-3">
                                {% for post in collection.docs %}
                                    <li class="td-sidebar-nav__section-title">
                                        <a href="{{ post.url }}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">
                                            {{ post.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </ul>
            {% endunless %}
        {% endfor %}
    </nav>
</div>
