---
layout: default
permalink: /books/
---

<h1>Books</h1>

<div class="section-index">
    <hr class="panel-line">
    {% for book in site.books %}
        <div class="entry">
            <h5><a href="{{ book.url | prepend: site.baseurl }}">{{ book.title }}</a></h5>
            <p>
            {% if book.author %}
                by {{ book.author }}&nbsp;&nbsp;|&nbsp;&nbsp;
            {% endif %}
            <time datetime="{{- book.date | date_to_xmlschema -}}"> {{- book.date | date: "%B %d, %Y" -}}</time></p>
            <div>
                {% for tag in book.tags %}
                    <span style="font-size:12px" class="badge badge-{{ site.tag_color }}">
                        <a style="cursor:pointer; color:white" href="{% if site.tag_search_endpoint %}{{ site.tag_search_endpoint }}{{ tag }}{% else %}/tags#{{ tag }} {% endif %}">
                            {{ tag }}
                        </a>
                    </span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
