---
layout: default
title: Tags
permalink: /tags/
hide_breadcrumbs: true
---

<h1 id="tags-index">Tags</h1>
{% assign all_tags = "" %}
{% for collection in site.collections %}
    {% for post in collection.docs %}
        {% assign post_tags = post.tags | join:',' | append:',' %}
        {% assign all_tags = all_tags | append:post_tags %}
    {% endfor %}
{% endfor %}
{% assign tags_list = all_tags | split:',' | uniq | sort: 'title' %}

{% for tag in tags_list %}
    <h3 id="{{ tag | replace: '/', '-' }}" class="linked-section">{{ tag }}</h3>
    <div class="post-list" style="margin-bottom:40px">
        {% for collection in site.collections %}
            {% for post in collection.docs %}
                {% if post.tags contains tag %}
                    <div class="tag-entry">
                        <a href="{{- post.url -}}">{{ post.title }}</a>
                        <time style="font-style:italic; float:right" datetime="{{- post.date | date_to_xmlschema -}}"> {{- post.date | date: "%B %d, %Y" -}}</time>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{%- endfor -%}
